// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

/dts-v1/;
#include "hi3798mv100.dtsi"

/ {
	model = "Huawei EC6108V9C";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";
		network {
			label = "green:network";
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		network-activity {
			label = "red:network";
			gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		ir-led {
			label = "green:ir";
			gpios = <&gpio5 2 GPIO_ACTIVE_HIGH>;
			panic-indicator;
			default-state = "off";
		};
	};
};

&timer1 { status = "okay"; };
&timer2 { status = "okay"; };
&timer3 { status = "okay"; };
&timer4 { status = "okay"; };
&uart0  { status = "okay"; };
&gpio0  { status = "okay"; };
&gpio2  { status = "okay"; };
&gpio5  { status = "okay"; };
&wdt0   { status = "okay"; };
&ir     { status = "okay"; };
&sd     { status = "okay"; };

&mmc {
	fifo-depth = <256>;
	clock-frequency = <100000000>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	status = "okay";
};

&ohci0 { status = "okay"; };
&ehci0 { status = "okay"; };
&ohci1 { status = "okay"; };
&ehci1 { status = "okay"; };

/*
 * YOUR BOARD uses hisilicon,hieth not hisi-femac-v2.
 * Override the ethernet node from the dtsi entirely.
 * Addresses are relative to soc@f0000000 (+ 0xf0000000 offset).
 * Your physical 0xf9840000 = 0x9840000 in soc-relative addressing.
 * MAC address: change to match the sticker on your device.
 */
&eth0 {
	compatible = "hisilicon,hieth";
	reg = <0x9840000 0x4000>;
	mac-address = [0C 56 5C 6A D8 FC];
	status = "okay";
};

/* Disable GPU for now - known broken in loonpn's release too */
&gpu {
	status = "disabled";
};